.new-expense__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;
  margin: 1rem;
  text-align: left;
}

.new-expense__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.new-expense__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid rgb(208, 160, 236);
  width: 17rem;
  max-width: 100%;
  background-color: rgb(255, 255, 255);
  font-weight: bold;
}

.new-expense__control input:hover {
  border-color: rgb(159, 117, 212);
  border-width: 2px;
}
.new-expense__actions {
  text-align: right;
}